{% comment %} {% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class=field|input_class %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %} {% endcomment %}

{% load widget_tweaks %}
{#{% load form_tags widget_tweaks %}#}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

 {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}

          {{ field|add_class:"form-control is-invalid" }}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}

        {% else %}
           {{ field|add_class:"form-control is-valid" }}
        {% endif %}
      {% else %}
         {{ field|add_class:"form-control" }}
      {% endif %}

     {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}  <!-- new code here -->
      </small>
    {% endif %}
    </div>
  {% endfor %}
{% comment %} 
{% for field in form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% if form.is_bound %}
        {% if field.errors %}
         {{ field|add_class:"form-control is-invalid" }}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
    {{ field|add_class:"form-control is-valid" }}
    {% endif %}
   {% else %}
        {{ field|add_class:"form-control" }}
    {% endif %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %} {% endcomment %}

{#{% for field in form %}#}
{#  <div class="form-group">#}
{#    {{ field.label_tag }}#}
{#    {% render_field field class=field|input_class %}#}
{#   {{ field|add_class|input_class }}#}
{#    {% for error in field.errors %}#}
{#      <div class="invalid-feedback">#}